body{
    background-color: #959EC9

}
.form-input{
    display: flex;
    justify-content: center;
    /* flex-wrap: nowrap; */

    /* font-size:14pt; */

}

h1{
    color: white;
    display: flex;
    justify-content: center;
}

img{
    padding: 2rem;
    max-width: 400px;

}
button{
    font-size: 1rem;
}

input{
    height: 2rem;
    font-size: 14pt;
    padding: 0.5rem;
    border-radius: 15px 0 0 15px ;
    border: solid 2px;

}

.btn{
    color: white;
    padding: 1rem;
    border: black solid 1px;
}

.btn-remove{
    background-color: orangered;
    border-radius: 0 15px 15px 0 ;

}

.btn-search{
    background-color:  #515677;
    margin-left: -4px;
}

.btn:hover{
    border: solid 1px;
    border-color: blueviolet;
}
